
<ul>
        <% @track.notes.each do |note| %>
        <li>
            <p id="author"><%= note.author.name %> said: </p>
            <p id="note"><%= note.body %></p>
            <% if current_user == note.author %>
                <form action="<%=edit_note_url(note.id)%>" method="get">
                    <%= auth_token %>
                    <input type="submit" value="Edit">
                </form>
                <form action="<%=note_url(note.id)%>" method="post">
                    <%= auth_token %>
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" value="Delete">
                </form>
            <% end %>
        </li>
        <% end %>
    </ul>